<%- include('partials/head') %>
    <h1><%= locals.name %></h1>
    <% if (locals.games) {%>
        <h2>Games of this genre</h2>
        <!-- Placeholderey until we link to the games -->
        <ul>
            <% for (const game of locals.games) {%>
                <%- include('partials/gameListing', { game: game }) %>
            <% } %>
        </ul>
    <% } %>
    <p><a href="/genres/">Back to genre list</a></p>
<%- include('partials/foot') %>