<%- include('partials/head') %>
    <h1>All Genres</h1>
    <% if (locals.genres) {%>
        <ul>
            <% for (const genre of locals.genres) {%>
                <%- include('partials/genreListing', { genre: genre }) %>
            <% } %>
        </ul>
    <% } %>
<%- include('partials/foot') %>