<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example Index</title>
</head>
<body>
    <h1>Index file, do whatever you need</h1>
    <ul>
        <% for (const user of locals.users) {%>
            <li>
                <%= user  %>
            </li>
        <% } %>
    </ul>
</body>
</html>